$black: #000000
$white: #ffffff
$lightgrey: #d3d3d3
$darkgrey: #545454

@mixin text-color($mycolor)
  color: $mycolor
  @if($mycolor == $black)
    background-color: $white
  @else if($mycolor == $white)
    background-color: $black
  @else if($mycolor == $lightgrey)
    background-color: $black
  @else
    background-color: $white
p
  @include text-color($lightgrey)

.alternate
  @include text-color($lightgrey)
