<p>todo-list works!</p>


<form (submit)="create()">
  <!-- TODO Binding de type Two Ways entre une propriété du modèle et la vue-->
  <!--TODO Il est également possible d'établir une relation de type two ways entre un composant enfant et un parent en renseignat la propriété à Binder [()]-->
  <input type="text" name="monInput" id="monInput" [(ngModel)]="monInput" />
</form>

<!--TODO Un binding d'attributs html est toujours entre crochets-->
<div [hidden]="list.length">La liste est vide</div>

<!--TODO Directive ngFor-->
<ul>
  <li *ngFor="let obj of list; let i = index; let odd = odd" [ngClass]="{'alternate': odd}">
    {{obj}} - {{i}}
  </li>
</ul>

<button (click)="delete()">Delete</button>
