<!-- TODO Relation de type One Way Binding-->
<h1>Bonjour Ma {{title}}</h1>

<!-- TODO Rend attribut dynamique en l'entourant de crochets-->
<button [disabled]="isActivated">Save</button>

<br>
<br>
<br>

<app-todo-list></app-todo-list>


<router-outlet></router-outlet>
